{% extends 'base.html' %}
{% block womencolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}

	
<!--Fitness -->
	
	<div  class="dhtmlgoodies_aTab" >
	
    	<div style="margin: 25px;"><h2 style="text-align: center;"><b>Fitness </b></h2>
    	<h3>Fitness Tips for Women</h3>
		<p>Women’s fitness is all about getting better, stronger and faster. This will increase stamina and endurance to help you move and improve your fitness to a new level.</p>
		<p>The following fitness tips for women will help keep you on track so you can accomplish your long-term fitness goals.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Start Slow: Start your exercise program slowly, especially if you're new to exercise. Aim for 15 to 20 minutes a day, three to five days a week.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Set Goals: This is a very important fitness tip to stay focused. </p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Attention: The intensity of the exercise will depend on your current fitness levels. Utmost care need to be taken care. </p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Warming up prepares the body for physical activity. It increases blood flow to muscles and limbers them up. The warm-up activity should use the same muscles as your workout.</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;After warming up, stretch the muscles to avoid strain and injury.</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Pick an activity that one will enjoy doing and will be more likely to stick with it, for example: swimming, jogging, biking, yoga, playing tennis etc.</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Include the physical activity in calendar so as to allocate some time.</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Staying hydrated is very crucial in the entire process. The right diet is an essential part of any fitness program for women or men.</p> 
        <p><strong>The four amazing tips that allow women to stay fit are listed below:</strong></p>
        <h3>Yoga: </h3>
        <p>Yoga will not only help in improving physical fitness, but can also help in strengthening the mind.</p>
        <h3>Meditation:</h3>
        <p>Meditation helps women to stay positive. Breathing exercises will be useful as it allows women to stay focused in their work.</p>
        <h3>Routine Workout:</h3>
        <p>To keep away from health problems and other issues, it is always better to hit gym everyday for about thirty minutes. This will ensure your physical fitness.</p>
        <h3>Breaks are Essential:</h3>
        <p>A break during work is essential for women. When they work continuously without taking a break for long-hour stretches, this may result in frustration. The break can be of any form like listening to music, reading a favorite magazine or just closing the eyes and relaxing.</p>
        	</div>	
</div>		
{% endblock%}
