{% extends 'base.html' %}
{% block kidscolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}

	
<!--Middle Childhood (6-8 years old) -->
	<div  class="content" >

		<div style="margin: 25px;"><h2 style="text-align: center;"><b>Middle Childhood (6-8 years old) </b></h2>
		<h3>Developmental Milestones</h3>
		<p>Middle childhood brings many changes to a child’s life. By this time, children can dress themselves, catch a ball more easily with only their hands, and tie their shoes. Developing independence from family becomes more important now. Events such as starting school bring children this age into regular contact with the larger world. Friendships become more and more important. Physical, social, and mental skills develop rapidly at this time. This is a critical time for children to develop confidence in all areas of life, such as through friends, schoolwork, and sports.</p>
		<p>Here are some changes your child may go through during middle childhood:
Emotional/Social Changes</p>
<div style="float:right;margin-right:35px;"><img src="static/images/child.jpg"></div>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;More independence from parents and family.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Stronger sense of right and wrong.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Beginning awareness of the future.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Growing understanding about one’s place in the world.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;More attention to friendships and teamwork.</p>
		 <p>Mental/Cognitive Changes</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Rapid development of mental skills.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Greater ability to describe experiences and talk about thoughts and feelings.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Less focus on one’s self and more concern for others.</p>
		<h3>Positive Parenting</h3>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Show affection for your child. Recognize her accomplishments.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Help your child develop a sense of responsibility—ask him to help with household tasks, such as setting the table.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Talk with your child about school, friends, and things she looks forward to in the future.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Talk with your child about respecting others. Encourage him to help people in need.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Help your child set her own achievable goals—she’ll learn to take pride in herself and rely less on approval or reward from others.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Make clear rules and stick to them, such as how long your child can watch TV or when he has to go to bed. Be clear about what behavior is okay and what is not okay.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Help your child learn patience by letting others go first or by finishing a task before going out to play. Encourage him to think about possible consequences before acting.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Do fun things together as a family, such as playing games, reading, and going to events in your community.</p>		
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Get involved with your child’s school. Meet the teachers and staff to understand the learning goals and how you and the school can work together to help your child do well.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Continue reading to your child. As your child learns to read, take turns reading to each other.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Use discipline to guide and protect your child, rather than punishment to make her feel badly about herself.</p>		
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Support your child in taking on new challenges. Encourage him to solve problems, such as a disagreement with another child, on his own.</p>		
		<h3>Child Safety First</h3>
		<p>More physical ability and more independence can put children at risk for injuries from falls and other accidents. Motor vehicle crashes are the most common cause of death from unintentional injury among children this age.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Teach your child to watch traffic and how to be safe when walking to school, riding a bike, and playing outside.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Make sure your child understands water safety, and always supervise her when she’s swimming or playing near water.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Supervise your child when he’s engaged in risky activities, such as climbing.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Talk with your child about how to ask for help when she needs it.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Keep potentially harmful household products, tools, equipment, and firearms out of your child’s reach.</p>
				</div>
	</div>	
{% endblock%}
