{% extends 'base.html' %}
{% block kidscolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}
	
<!--Early Adolescence (12-14 years old) -->
	<div  class="content" >

		<h2 style="text-align: center;"><b>Chidhood Immunization(Vaccination) Schedule</b></h2><br/>
		<div style="margin-left:25px;">
		<p>Vaccine is a biological preparation that improves immunity to a particular disease. A vaccine typically contains an agent that resembles a disease-causing microorganism, and is often made from weakened or killed forms of the microbe.</p>
		<p> The agent stimulates the body's immune system to recognize the agent as foreign, destroy it, and "remember" it, so that the immune system can more easily recognize and destroy any of these microorganisms that it later encounters.</p>
		<div style="float:right;margin-right:30px;"><img src="static/images/childhoodvaccination.png" style="width:300px;"></div>
		<p><strong>What childhood vaccines are recommended, and at what ages they should be given?</strong></p>
		<table style="width:90%;border: 1px #e3e3e3 solid;margin-left:20px;" class="main">
		<tr>
		<td valign=top><strong>Hepatitis B vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at birth to 2 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 1 to 4 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose at 6 to 18 months<br/>
		</td>
		<td valign=top><strong>Hib vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 2 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 4 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose at 6 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Fourth dose at 12 to 15 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose at 6 months<br/>
		</td>
		<td valign=top><strong>Polio vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 2 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 4 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose at 6 to 18 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Fourth dose at 4 to 6 years<br/>
		</td></tr>
		<tr class="alt">
		<td><br/><strong>DTaP vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 2 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 4 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose at 6 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Fourth dose at 15 to 18 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Fifth dose at 4 to 6 years<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;DTaP is recommended at 11 years<br/>
		</td>
		<td valign=top ><br/><strong>Pneumococcal vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 2 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 4 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose at 6 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Fourth dose at 12 to 18 months<br/>
		</td>
		<td valign=top ><br/><strong>Rotavirus vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 2 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 4 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose at 6 months<br/>
		</td></tr>
		<tr >
		<td valign=top ><br/><strong>Hepatitis A vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 12 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 18 months<br/>
		</td>
		<td><br/><strong>Influenza vaccine:</strong><br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 6 months (requires a booster one month after initial vaccine)<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Annually until 5 years (then yearly if indicated or desired, according to risks)<br/>
		</td>
		<td valign=top ><br/><strong>MMR vaccine:</strong><br>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 12 to 15 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 4 to 6 years<br/>
		</td></tr>
		<tr class="alt">
		<td valign=top ><br/><strong>Varicella vaccine:</strong><br>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 12 to 15 months<br/>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose at 4 to 6 years<br/>
		</td>
		<td valign=top ><br/><strong>Meningococcal vaccine:</strong><br>
		<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Single dose at 11 years<br/>
		</td>
		<td valign=top ><br/><strong>Human papillomavirus vaccine (adolescent girls only):</strong><br>
<img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First dose at 11 years<br>
  <img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Second dose two months after first dose<br>
  <img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Third dose six months after first dose<br>
</td></tr></table>
<h3>Hepatitis B vaccine</h3>
<p>Hepatitis B is a virus which causes inflammation of the liver. Signs and symptoms are extreme tiredness and jaundice (all the white parts on your body, like your eyes, teeth and nails, turn yellow). It may cause the liver to stop working and has been associated with lifelong infection, liver failure, liver cancer, and even death.</p>
<h3>Hepatitis A vaccine</h3>
<p>Hepatitis A is a virus similar to hepatitis B. Transmission occurs by coming in contact with contaminated food or drink. Early symptoms of the disease are nonspecific and may include fever, diarrhea, and abdominal pain. It causes acute liver disease. It can affect anyone at any age, and in the United States, it can occur as isolated cases or even in epidemics.</p>
<h3>MMR vaccine</h3>
<strong>The first M in MMR stands for Measles</strong>
<p>Measles is a highly contagious (easy to get) virus that causes a high fever, cough, and a spotty rash all over the body. It may also cause ear infections and pneumonia.</p>
<strong>The second M in MMR stands for Mumps</strong>
<p>Mumps is a virus which causes painful, swollen salivary glands, which are under the jaw, as well as a fever and a headache.</p>
<p>Mumps also may cause serious problems including meningitis or hearing loss. It can cause inflammation of the testicles in males.</p>
<strong>The R in MMR stands for Rubella</strong>
<p>Rubella, also known as German measles, is caused by a virus. It is most dangerous for women who are pregnant. Rubella can cause a mother to have a miscarriage or deliver a baby with heart disease, blindness, hearing loss, or learning problems.</p>
<p>Rubella is a fairly mild disease in children.</p>
<h3>Pneumococcal vaccine</h3>
<p>Streptococcus pneumoniae is a bacterium which causes pneumonia (lung infection), sepsis (blood infection), and other infections. It is very dangerous to the very young and very old.</p>
<br> <div style="border:0px solid;float:right;"><a href="#" style="text-decoration: none;color:black;color:#39C;">Go to Top</a></div>
</div>
	</div>	
{% endblock%}
