{% extends 'base.html' %}
{% block womencolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}

	
<!-- Make Up -->

<div class="content">
		<div style="margin: 25px;"><h3 style="text-align: center;"><b>Make Up</b></h3>
		<h3>Makeup Concealer - Tips You Don't Want to Miss </h3>
		<p>Concealer has got to be one of the best inventions ever. Just ask any celebrity. Concealer is great for covering up those dark circles that you get under your eyes after late night out, freckles, pimples and even age spots. </p>
		<p>Few makeup products are more useful and versatile than concealer. Yet many people use it incorrectly or don't know how to use concealer to get the best and most effective results.</p>
		<p>Just the variety of concealers there is to choose from can make you dizzy. Concealers come in:</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Creams</p>
		<div><img src="/static/images/makeup.jpg" style="float:right;margin-top: -30px;"></div>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Powders</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Sticks</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Pencils</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Gels</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Mineral</p>
		<p>If that isn't enough to make it confusing deciding which one is best for you, they also come in different shades, from light to medium to dark to neutral. A good tip to remember here is that generally your concealer should be one shade lighter than your foundation. Too, when trying to find just the concealer you need, it's a good idea to hit the makeup section of your local department store and try some samples. This also gives you the advantage of having an expert to ask for advice.</p>
		<p>Once you've sorted through all the concealer choices and brought one home, it's time to use it. Just smearing it on is the last thing you want to do as that can just make your concealer the only thing anyone notices about you.</p>
		<p>And that's NOT the effect you're after. You want to use concealer not just to cover up, but to enhance your overall look. Here's how.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;First use the concealer on blemishes and dark spots.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Next go over those areas with your normal foundation.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;If you need a bit more coverage, just apply another light layer of concealer.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Use a slight dusting of powder to "set" your look.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Pat on dots of concealer, and then use your fingertips or small brush to smooth it out.</p>

		<p>Many people prefer to use concealer on its own, with no foundation. This can be just a tad tricky. The reason is there are simply fewer shades of concealer than there are of foundation. So the key thing to remember if this is what you desire is to match your concealer as closely as possible to your natural foundation. And if that isn't possible, you'll be pleased to know that you can, in a pinch, use a foundation as a concealer.</p>
		<p>Always remember that a light hand is better than a heavy one when it comes to applying concealer or any makeup, for that matter. Going heavy on the concealer can actually cause the tissue under your eyes to look as if you have lines and bags. This is one case when less is truly more.
</p>
<br> <div style="border:0px solid;float:right;"><a href="#" style="text-decoration: none;color:black;color:#39C;">Go to Top</a></div>
		</div>

		
</div>


{% endblock%}
