{% extends 'base.html' %}
{% block womencolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}

	
<!-- Pregnancy -->
	<div  class="content" >

		<div style="margin: 25px;"><h3 style="text-align: center;"><b>Pregnancy</b></h3>
		<h3>Pregnancy Symptoms: </h3>
		<p>The only way to know for sure you're pregnant is with a pregnancy test. But there are early symptoms of pregnancy that can alert you to the fact that you may be pregnant and should have a test.</p>
		<p>Some women are so attuned to their body and the changes it undergoes with pregnancy that they seem to know from the start they are pregnant. Other women, though, have no suspicion they are pregnant until they miss their first period, which is perhaps the most widely recognized early sign of pregnancy.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Early Symptoms of Pregnancy Many women find frequent urination to be problem starting around the sixth or eighth week after conception. Although this could be caused by a urinary tract infection, diabetes, or excessive use of diuretics, if you're pregnant, it's most likely due to increased levels of hormones.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;The increased level of progesterone can also make you constipated. Progesterone causes food to pass more slowly through your intestines. Drinking plenty of water, exercising, and eating plenty of high-fiber foods can help offset this problem.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Mood swings are common, especially during the first trimester. These are also related to changes in hormones.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Many women report frequent mild headaches, and others experience chronicback pain.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Dizziness and fainting may be related to dilating blood vessels, lower blood pressure, and lower blood sugar. Some women don't discover they're pregnant until they go to the doctor because of a fainting spell and are told that being pregnant is a possible explanation.</p>
		<p>If you are pregnant, you could have all of these symptoms, or maybe have only one or two. But if any of these symptoms become bothersome, talk with your doctor about them. The doctor can help you find ways to offset them.</p>
		<h3>Pregnancy and Weight Gain</h3>
		<p>Where Does the Extra Weight Go During Pregnancy?</p>
		<div> 
		<table class="main" style="width:350px;margin-left: 30px;" >
		<tr><td >Baby</td><td style="width:100px;">8 pounds</td></tr>
		<tr class="alt"><td>Placenta</td><td style="width:100px;">2-3 pounds</td></tr>
		<tr><td>Aminotic fluid</td><td>2-3 pounds</td></tr>
		<tr class="alt"><td>Breast tissue</td><td>2-3 pounds</td></tr>
		<tr><td>Blood supply</td><td>4 pounds</td></tr>
		<tr class="alt"><td>Fat store for delivery and breastfeeding</td><td>5-9 pounds</td></tr>
		<tr><td>Uterus increase</td><td>2-5 pounds</td></tr>
		<tr class="alt"><td>Total</td><td>25-35 pounds</td></tr>
			</table>
			<div style="float:right;"><br>
			<img src="/static/images/Pregnancy.jpg" style="margin-top: -430px;width:300px;"></div></div>
			<div style="margin: 25px;">
		<h3>How Can I Gain the Right Amount of Weight During Pregnancy?</h3>
		<p>If you’re health care provider recommends gaining more weight during pregnancy, here are some suggestions:</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Eat five to six small, frequent meals every day.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Keep quick, easy snacks on hand, such as nuts, raisins, cheese and crackers, dried fruit, and ice cream/yogurt.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Spread peanut butter on toast, crackers, apples, bananas, or celery. One tablespoon of creamy peanut butter will provide about 100 calories and seven grams of protein.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Add nonfat powdered milk to foods such as mashed potatoes, scrambled eggs and hot cereal.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Add condiments to your meal, such as butter or margarine, cream cheese, gravy, sour cream, and cheese.</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;If your hair is naturally curly or permed, use your fingers to form the curls at the top of the French Twist.</p>
</div>
<br> <div style="border:0px solid;float:right;"><a href="#" style="text-decoration: none;color:black;color:#39C;">Go to Top</a></div>        
		</div>
	</div>	
{% endblock%}
