{% extends 'base.html' %}
{% block kidscolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}

	
<!--Early Adolescence (12-14 years old) -->
	<div  class="content" >

		<div style="margin: 25px;"><h2 style="text-align: center;"><b>Middle Adolescence (15-17 years old)</b></h2>
		<h3>Developmental Milestones</h3>
		<p>Middle adolescence is a time of physical, mental, cognitive, and sexual changes for your teenager. Most girls will be physically mature by now, and most will have completed puberty. </p>
		<p>Boys might still be maturing physically during this time. Your teenager might have concerns about her body size, shape, or weight.</p>
		<p> Eating disorders can also be common, especially among females. During this phase of development, your teenager is developing his unique personality and opinions. Peer relationships are still important, yet your teenager will have other interests as he develops a more clear sense of identity. </p>
		<p>Middle adolescence is also an important time to prepare for more independence and responsibility; many teenagers start working, and many will be leaving home soon after high school.</p>
		<p><strong>Other changes you might notice in your teenager include:</strong></p>
		<div style="float:right;margin-right:35px;"><img src="static/images/middleadolescence.jpg"></div>
		<p><strong>Emotional/Social Changes:</strong></p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Increased interest in the opposite sex.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Decreased conflict with parents.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Increased independence from parents.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Deeper capacity for caring and sharing and the development of more intimate relationships.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Decreased time spent with parents and more time spent with peers.</p>
		<p><strong>Mental/Cognitive Changes:</strong></p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;More defined work habits.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;More concern about future educational and vocational plans.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Greater ability to sense right and wrong.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Sadness or depression, which can lead to poor grades at school, alcohol or drug use, unsafe sex, thoughts of suicide, and other problems.</p>
		<h3>Positive Parenting</h3>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Talk to your teenager about her concerns and pay attention to any changes in her behavior. Ask her if she has had suicidal thoughts, particularly if she seems sad or depressed. Asking about suicidal thoughts will not cause her to have these thoughts, but it will let her know that you care about how she feels. Seek professional help if necessary.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Show interest in your teenager’s school and extracurricular interests and activities and encourage him to become involved in activities such as sports, music, theater, and art.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Compliment your teenager and celebrate her efforts and accomplishments.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Show affection for your teenager. Spend time together doing things you enjoy.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Respect your teenager’s opinion. Listen to him without playing down his concerns.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Encourage your teenager to volunteer and become involved in civic activities in her community.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Encourage your teenager to develop solutions to problems or conflicts. Help your teenager learn to make good decisions. Create opportunities for him to use his own judgment, and be available for advice and support.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;If your teenager engages in interactive Internet media such as games, chat rooms, and instant messaging, encourage him to be disciplined and respectful about the amount of time she is involved with it.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;If your teenager works, use the opportunity to talk about expectations, responsibility, and other aspects of behaving respectfully in a public setting.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Talk with your teenager and help him plan ahead for difficult or uncomfortable situations. Discuss what he can do if he is in a group and someone is using drugs, under pressure to have sex, or offered a ride from someone who has been drinking.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Respect your teenager’s need for privacy.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Encourage your teenager to get enough sleep and exercise, and to eat healthy, balanced meals.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Encourage your teenager to have meals with the family. Eating together will help your teenager make better choices about the foods she eats, promote healthy weight, and give family members time to talk with each other. In addition, a teenager who eats meals with the family is more likely to have better grades and less likely to smoke, drink, or use drugs. She is also less likely to get into fights, think about suicide, or engage in sexual activity.</p>
		</div>
		
	</div>	
{% endblock%}
