{% extends 'base.html' %}
{% block womencolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}

	
<!-- Pedicure -->
	<div  class="content" >

		<div style="margin: 25px;"><h2 style="text-align: center;"><b>Pedicure </b></h2>
		<p><strong>Pedicure</strong> is the care of the feet, legs and toenails. Here we will see the pedicure tools required for the procedure. Thus with a little pampering on a regular basis of your feet you can take care of them and you will have feet that will look beautiful.</p>
		<div style="float:right;margin-top: 70px;"><img style="" src="/static/images/pedi.jpg"></div>
		<h3>Things Required for Pedicure</h3>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Nail cutter



</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Nail file</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Cuticle pusher cutter</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Nailbrush</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Orange stick</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Pumice stone</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Foot scrapper</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Two basins large enough for footbath</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Enamel remover</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Cotton wool and buds</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Moisturizer</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Base coat</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Enamels either colored or frosted</p>
        <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Topcoat</p>
        <h3>Materials Required</h3>
        <div style="float:right;margin-top: 30px;"><img style="" src="/static/images/padi.jpg"></div>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Acetone</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Liquid soap or shampoo</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Luke warm water</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Antiseptic lotion</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Oil or cream</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Nail polish</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Foot powder</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Hydrogen peroxide</p>
		
	    <h3>Pedicure Procedures</h3>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Soak your feet in warm soapy water for a couple of minutes then pat them dry. Make sure that you cover your toenails thoroughly.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Remove any old enamel from your toenails with cotton wool and enamel remover.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Use your nail clippers to file and cut your nails. File your toenails to take off any rough edges, but only straight across.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Take your tipped orange stick and put some cuticle cream on, massage into the cuticles in circular movements. Clean the foot using nailbrush, foot scrapper and pumice stone.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Re-soak your feet for a couple of minutes.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Again with your tipped orange stick apply cuticle remover to the cuticles.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Wet your cuticle knife to carefully lift the cuticle.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Re-soak again and then dry thoroughly.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Apply a good moisturizer all over your foot and ankle takes the time to gently rub it in. Also at this time you can lightly dust between your toes with a medicated talc or foot powder.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Apply your base coat and wait for it to dry. Pick your nail polish and paint on. Don't forget the topcoat for colored enamels.</p>
	    <p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;One last thing, use your orange stick and enamel remover to remove all traces of enamel left on the skin to make a really neat job.</p>
	    
	</div>	
</div>		
{% endblock%}
