{% extends 'base.html' %}
{% block womencolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}
{% if msgaccount %}
	<script type="text/javascript">
			$(function(){
				// Dialog			
				$('#dialog').dialog({
					autoOpen: true,
					width: 500,
					buttons: {
						"Ok": function() { 
							$(this).dialog("close"); 
							//window.location = "new.html"
           						//redirect('new.html');
						}, 
						//"Cancel": function() { 
						//	$(this).dialog("close"); 
						//} 
					}
				});
				
				// Dialog Link
				//$('#dialog_link').click(function(){
				//	$('#dialog').dialog('open');
				//	return false;
				//});
				
			});
		</script>
	<!-- 	<p><a href="#" id="dialog_link">Open Dialog</a></p>-->
		<!-- ui-dialog -->
		<div id="dialog" title="Registration success">
			<p>Your Account has been created.please login </p>
		</div>{% endif %}
{% if msgLogindetails%}
<script type="text/javascript">
			$(function(){
				// Dialog			
				$('#errordialog').dialog({
					autoOpen: true,
					width: 500,
					buttons: {
						"Ok": function() { 
							$(this).dialog("close"); 
							window.location = "#"
           						//redirect('new.html');
						}
						}
				});
			});
			</script>
	<div id="errordialog" title="Error Message">
	<p>Invalid Details </p>
	</div>{% endif %}
{% if msgLoginall%}
<script type="text/javascript">
			$(function(){
				// Dialog			
				$('#errordialog1').dialog({
					autoOpen: true,
					width: 500,
					buttons: {
						"Ok": function() { 
							$(this).dialog("close"); 
							window.location = "#"
           						//redirect('new.html');
						}
					}
				});
			});
			</script>
	<div id="errordialog1" title="Error Message">
	<p>Please fill in all fields</p>
	</div>{% endif %}
<div  class="dhtmlgoodies_aTab" >
		<div style="margin: 25px;text-align: center;"><h2><b>Premenstrual syndrome</b></h2>
		<p>Premenstrual syndrome (PMS) refers to a wide range of physical or emotional symptoms that typically occur about 5 to 11 days before a woman starts her monthly menstrual cycle. The symptoms usually stop when menstruation begins, or shortly therea.</p>
		</div>
		<div style="margin:25px;">
		<div style="border:0px solid;"><span style="width:300px;float:right;margin-top:0px;margin-left:50px;border:0px solid;"><img src="/static/images/Premenstrual.jpg" height="180px" width="280px"></span>
	<h3>Causes, incidence, and risk factors:</h3>
	<p>It occurs more often in women:</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Between their late 20s and early 40s.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Who have at least one child.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;With a personal or family history of major depression.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;With a history of postpartum depression or an affective mood disorder.</p>
		<p>The symptoms typically get worse in a woman's late 30s and 40s as she approaches the transition to menopause.</p>
	<h3>Symptoms:</h3>
	<p>The most common physical symptoms include:</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Abdominal fullness, feeling gaseous.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Bloating of the abdomen.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Breast tenderness.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Clumsiness.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Constipation or diarrhea.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Food cravings.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Headache.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Less tolerance for noises and lights.</p>
		</div>				
	<h3>Treatment:</h3>	
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Drink plenty of fluids (water or juice, not soft drinks or other beverages with caffeine) to help reduce bloating, fluid retention, and other symptoms.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Eat frequent, small meals. Leave no more than 3 hours between snacks, and avoid overeating.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Your health care provider may recommend that you take nutritional supplements. Vitamin B6, calcium, and magnesium are commonly used. Tryptophan, which is found in dairy products, may also be helpful.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Your doctor may recommend that you eat a low-salt diet and avoid simple sugars, caffeine, and alcohol.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Get regular aerobic exercise throughout the month to help reduce the severity of PMS symptoms.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Try changing your nighttime sleep habits before taking drugs for insomnia. (See also: Sleeping difficulty).</p>
	<h3>Signs and Symptoms:</h3>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Bloating and weight gain.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Breast swelling, tenderness.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Mood swings.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Depression and anxiety.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Skin problems.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Changes in appetite, food cravings.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Changes in interest in sex.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Headaches, backaches, cramps.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Not being able to concentrate, loss of interest in usual activities, confusion.</p>
	<h3>Prevention:</h3>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Some of the lifestyles changes often recommended for treating PMS may help prevent symptoms or keep them from getting worse.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Getting regular exercise and eating a balanced diet (with increased whole grains, vegetables, fruit, and decreased or no salt, sugar, alcohol, and caffeine) may prove beneficial.</p>
	<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Your body may have different sleep needs at different times during your menstrual cycle, so it is important to get enough rest.</p>

	</div>	</div>	
<script type="text/javascript">
//{% if msgLoginall%}alert('Please fill in all fields'){%endif%}
//{% if msgLogindetails%}alert('Invalid details'){%endif%}

</script>

{% endblock %}
		