{% extends 'base.html' %}
{% block kidscolor %}style="background-color:#fca503;color:#000;"{%endblock%}
{% block content %}

	
<!-- Preschoolers (3-5 years old) -->
	<div  class="content" >

		<div style="margin: 25px;"><h2 style="text-align: center;"><b>Preschoolers (3-5 years old) </b></h2>
		<h3>Developmental Milestones</h3>
		<p>As your child grows into early childhood, his world will begin to open up. She will become more independent and begin to focus more on adults and children outside of the family. He will want to explore and ask about his surroundings even more.</p>
		<p>Her interactions with family and those around her will help to shape her personality and individual ways of thinking and moving. During this stage your child will be able to ride a tricycle, use safety scissors, show awareness of gender identity, help to dress and undress himself, play with other children, recall part of a story, and sing a song.</p>
		<h3>Positive Parenting</h3>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Continue to read to your child. Nurture her love for books by taking her to the library or bookstore.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Continue to read to your child. Nurture her love for books by taking her to the library or bookstore.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Let your child help with simple chores.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Encourage your child to play with other children. This helps him to learn the value of sharing and friendship.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Help your child’s language by speaking to her in complete sentences and in “adult” language. Help her to use the correct words and phrases.</p>
         <p>Child Safety First</p>
         <p>As your child becomes more independent and increases her interaction with the outside world, it is important that you and your child are aware of ways to stay safe. Here are a few ways to protect your child.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Tell your child why it is important to stay out of traffic. Tell him not to play in the street or run after stray balls.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Be cautious when letting your child ride her tricycle. Keep her on the sidewalk and away from the street.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Check outdoor playground equipment. Make sure there are no loose parts or sharp edges.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;When your child is playing outside, keep watch over him at all times.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Practice water safety. Teach your child to swim.</p>
		<p style="text-indent: 0px"><img src="/static/images/arrow_transparent_red.gif" style="width: 13px;height: 13px;">&nbsp;&nbsp;Teach your child how to interact with strangers and how not to interact.</p>
				</div>
	</div>	
{% endblock%}
